@page{
	size:a4;
	margin:50px 0px 30px 0px;
}
body{
	background:#FFFFFF;
	min-width:992px!important;
	padding:0px !important;
	margin:0px important;
	margin-top:20px important;
	margin-bottom:20px important;
	-webkit-print-color-adjust: exact;
}


.noprint {display:none !important;}
.justprint {}
* {
	font-family:"Trebuchet MS", Verdana, Tahoma;
	font-size:12px;
}
*[disabled] {
	cursor: not-allowed;
	color: #AAA !important;
}

*[disabled] * {
	cursor: not-allowed;
	color: #AAA !important;
}

.print-wb {
	border:1px solid #CCCCCC !important;
}

.print-nowrap {
	min-width:150px;
	max-width:200px;
}

.print-smaller {
	font-size:8px !important;
}

.print-list-item td, .print-list-item th {
	padding:3px !important;
	padding-left:6px;
	padding-right:6px;
}

print-list-row25 {
	height:25px;
}

print-list-row30 {
	height:30px;
}


img{border:0px;}
.TopSkyContainer {
	width:100%;
}
#ScreenLogo {
	display:none;
}
#PrintLogo {}
#TopSky {display:none;}
#Ears {display:none;}
img.userImage {
  height: 80px;
  width: 64px;
  border: 1px solid #cccccc;
  vertical-align: middle;
  text-align: center;
}
.TopRibbon {
	width:100%;
	height:74px !important;
	background:#FFFFFF !important;
}

.clear {
	clear:both;
}
#BlackBack {
	width:100%;
	height:100%;
	position:fixed;
	z-index:998;
	top: 0;
	left: 0;
	background:#000;

	opacity: .50; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=50); /* IE lt 8 */
	-ms-filter: "alpha(opacity=50)"; /* IE 8 */
	-khtml-opacity: .50; /* Safari 1.x */
	-moz-opacity: .50; /* FF lt 1.5, Netscape */
}
#headerContainer {
	width:100%;
	height:60px;
}
#bannerContainer {
	float:right;
}
#logoContainer {

}
#headerBand {
	display:none !important;
	height:1px;
}
#leftBand {
	display:none;
	height:1px;
}
#leftFooterBand {
	display:none !important;
	height:1px;
}
#rightBand {
	display:none !important;
	height:1px;
}
#rightFooterBand {
	display:none !important;
	height:1px;
}
#rightArrow {
	display:none !important;
	height:1px;
}
#splashNews {
	display:none !important;
	height:1px;
}
#topMenu {

}
#topMenu ul{

}
#topMenu li{
}
#topMenu li a{
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}
#topMenu li a:hover{
  background-color: #3e5d8e;
}
#MainContainer {
	width:100% !important;
	/*padding-top:-10px !important;*/
}
#leftContainer {
	display:none !important;
}
#rightContainer {
	min-height:400px;
	float:left;
	width:100% !important;
	background: #ffffff;
	border:0px;
	border-left: 0px !important;
	border-right: 0px !important;
}
#rightContainer .contentContainer {
	float:left;
	padding:5px;
	padding-top:0px !important;
	padding-bottom:0px !important;
	width:100% !important;
	border:0px;
}
#rightContainer .contentContainerFull {
	min-width:99% !important;
	width:99% !important;
	float:left;
	padding:5px;
	padding-top:0px !important;
	padding-bottom:0px !important;
	border:0px;
}

#rightContainer #rightMenu {
	float:right;
	width:184px !important;
	border:0px;
}
.content {
	width:100%;
}
#rightContainer #contentContainer .content #cHeader  {
  margin-top:10px;
  background-color: #E4ECF1;
  border-top: 1px solid #D9DFF0;
  border-bottom: 1px solid #D9DFF0;
  padding: 4px;
  height:24px;
  font-size:18px;
  font-weight:bold !important;
  color: #666666;
  text-align: left;
}

#rightContainer #contentContainer .content #cHeader a,
#rightContainer #contentContainer .content #cHeader a:active,
#rightContainer #contentContainer .content #cHeader a:link,
#rightContainer #contentContainer .content #cHeader a:visited
{
  font-size:12px;
  text-decoration:none;
  color: #000000;
  font-weight:bold;
}
#rightContainer #contentContainer .content #cHeader a:hover
{
  text-decoration:underline;
  color: #000000;
}
#rightContainer #contentContainer .content #cContent {
	padding:4px;
	color:#000000;
}
#rightContainer #contentContainer .contentSep {
	height:10px;
}

#MessageContainer {
	width:100%;
}


#MessageContainer #msgError {
	border:1px solid #960000;
	min-height:40px;
	background:#FFF8F8;
	margin-bottom:6px;
}
#MessageContainer #msgError h5{
	width:100%;
	background:#EAEAEA url("../images/error.gif") center left no-repeat;
	border:0px;
	border-bottom:1px dotted #960000;
	margin:0px;
}
#MessageContainer #msgError #header {
	padding-left:20px;
}
#MessageContainer #msgError ul {
	margin:0px;
}


#MessageContainer #msgSuccess {
	border:1px solid #409600;
	min-height:40px;
	background:#F9FFF8;
	margin-bottom:6px;
}
#MessageContainer #msgSuccess h5{
	width:100%;
	background:#EAEAEA url("../images/success.gif") center left no-repeat;
	border:0px;
	border-bottom:1px dotted #409600;
	margin:0px;
}
#MessageContainer #msgSuccess #header {
	padding-left:20px;
}
#MessageContainer #msgSuccess ul {
	margin:0px;
}


#MessageContainer #msgInfo {
	border:1px solid #000096;
	min-height:40px;
	background:#F8F8FF;
	margin-bottom:6px;
}
#MessageContainer #msgInfo h5{
	width:100%;
	background:#EAEAEA url("../images/info.gif") center left no-repeat;
	border:0px;
	border-bottom:1px dotted #000096;
	margin:0px;
}
#MessageContainer #msgInfo #header {
	padding-left:20px;
}
#MessageContainer #msgInfo ul {
	margin:0px;
}
/* ---------------------------------------------------------
// Block Class
// -------------------------------------------------------*/
.blockSep1, .blockSep2 {height:7px;}
#block1, #block2 {
	display:none !important;
	padding: 0px;
  	margin: 0px;
  	margin-bottom: 15px;
  	margin-top:6px;
}

.bHeader1 {
  padding-left: 4px;
  border-bottom: 1px solid #D9DFF0;
  color: #000000;
  text-align: left;
  font-weight: bold;
}
.bContent1 {
	padding-left:6px;
	font-family:"Trebuchet MS", Verdana, Tahoma;
	font-size:11px;
	color:#000000;
}
.bHeader2 {
  border-top: 1px solid #62AE96;
  border-bottom: 1px solid #62AE96;
  background-color: #84C1AD;
  padding-left: 5px;
  color: #000000;
  text-align: left;
  font-weight: normal;
}
.bContent2 {
	padding-left:6px;
}

.shortcuts {
  padding: 0px !important;
  margin: 0px !important;
  list-style: none;
}
.scItem {
  padding: 0px !important;
  margin: 0px !important;
  color: #000000;
  text-height: auto;
  list-style-position: inside;
  list-style-image: url('../images/point.png');
}
.scItem:hover {
  background-color: #000000;
}
.scItem a {
  text-decoration: none;
  color: #000000;
}
.scItem a:link, .scItem a:hover, .scItem a:visited, .scItem a:active  {
  text-decoration: none;
  color: #000000;
}

.menu {
  padding: 0px !important;
  padding-left:10px !important;
  margin: 0px !important;
  list-style: none !important;
}
.menu .menuItem {
  padding: 0px !important;
  margin: 0px !important;
  color: #333333;
  text-height: auto;
  list-style-position: inside;
  list-style-image: url('../images/point.png');
}
.menuCat {
  list-style-position: inside !important;
  list-style-image: url('../images/point_down.png') !important;
  color:#f6efed;
}
.menuCat a,.menuCat a:visited,.menuCat a:active,.menuCat a:hover,.menuCat a:link  {
	color:#926861 !important;
}
.menuItem:hover {
  background-color: #F1F5F8;
}
.menuItem a {
  text-decoration: none;
  color: #333333;
}
.menuItem a:link, .menuItem a:hover, .menuItem a:visited, .menuItem a:active  {
  text-decoration: none;
  color: #333333;
}

.subMenu {
  padding: 0px !important;
  padding-left:10px !important;
  margin: 0px !important;
  list-style: none !important;
}

.subMenu .menuItem {
  padding: 0px !important;
  margin: 0px !important;
  color: #333333;
  text-height: auto;
  list-style-position: inside;
  list-style-image: url('../images/point_sub.png') !important;
}

.subMenu a,.subMenu a:visited,.subMenu a:active,.subMenu a:hover,.subMenu a:link  {
	color:#926861 !important;
}

.blLatestNews {
  padding: 0px !important;
  margin: 0px !important;
  list-style: none;
}
.blLatestNewsItem {
  padding: 0px !important;
  margin: 0px !important;
  color: #333333;
  text-height: auto;
  list-style-position: inside;
  list-style-image: url('../images/point.png');
}
.blLatestNewsItem:hover {
  background-color: #F1F5F8;
}
.blLatestNewsItem a {
  text-decoration: none;
  color: #333333;
}
.blLatestNewsItem a:link, .blLatestNewsItem a:hover, .blLatestNewsItem a:visited, .blLatestNewsItem a:active  {
  text-decoration: none;
  color: #333333;
}
a.langBit:link, a.langBit:visited,  a.langBit:active  {
  text-decoration: none;
}
a.langBit:hover  {
  text-decoration: underline !important;
}

.blLatestNewsItemSep {}
/* ---------------------------------------------------------
// Global
// -------------------------------------------------------*/
.vt {vertical-align:top;}
.wb {border:1px solid #000000 !important;}
.p { padding:2px;}
.b { font-weight:bold !important; }
.i { font-style:italic !important; }
.l { text-align:left !important;}
.c { text-align:center !important;}
.r { text-align:right !important;}
.no { color:red !important;}
.yes { color:green !important;}
.nb { border:0px !important; }
.nbold { font-weight:normal !important; }
.n {
   font-family:Georgia !important;
   font-size:12px !important;
}

table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group; }
tfoot { display:table-footer-group; }

table.list {
	page-break-inside:auto
	margin-bottom: 0px !important;
	background:#FFFFFF;
	border: 1px solid #000000;
	border-collapse: collapse;
	color:#000000;
}

.list thead { display:table-header-group; }
.list tfoot { display:table-footer-group; }

.list tr {
	page-break-inside:avoid; page-break-after:auto
}

.list td {
	border-top: 1px solid #000000 !important;
	padding:4px;
	border: 0px;
	vertical-align: center;
	color:#000000;
}

.list th {
	border-top: 1px solid #000000;
	background: #fff3b3;
	padding:4px;
	color:#000000;
}

.list .hover td {
	cursor:pointer;
	color:#000000;
}

.list .label {
	font-weight:bold;
	background:#EEE;
}
.list .llabel {
	background:#f5f5f5;
}

.list .nr {
	text-align:right;
	color:#999 !important;
}

.nolist td {border:0px !important; 	border-top:0px !important;}
.list .tr0 { background: #FFF; }
.list .tr1 { background: #EEF; }

.LInput {
  border: 1px solid #CBD9E4;
  background-color: #FEFEFE;
  color: #666666;
  font-size: 12px;
  padding: 2px;
}

.nl2-header {
	background:#c5c5c5;
	height:80px;
	padding:3px;
	width:100%;
}
.nl2-hmenu {
	background:#071f34;
	height:27px;
}
.nl2-header-language {
	width:180px;
	float:left;
}
.nl2-header-topmenu {
	width:200px;
	float:right;
}
.nl2-header-topmenu ul{
	height: 27px !important;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.nl2-header-topmenu li{
	float: left;
	padding:5px;
	height:27px !important;
	white-space:nowrap;
}
.nl2-header-topmenu li a{
	text-decoration: none;
	color: #ffffff;
	padding: 5px;
}
.nl2-header-topmenu li a:hover{
	background-color: #0a2f55;
	color: #ffffff;
	padding: 5px;
}
.nl2-leftblock {
	float:left;
	width:178px !important;
	background:#FFFFFF;
	padding-top: 5px;
	border:0px;
	border-right: 1px solid #c8d7e3;
}
.nl2-right {
	float:left;
	min-height:400px;
	background:#ffffff;
	width:100% !important;
}
.nl2-right-full {
	width:100% !important;
}
.nl2-center {
	border:0px;
	float:left;
	min-height:400px;
	background:#ffffff;
	width:100% !important;
	margin-bottom:30px;
}
.nl2-center-full {
	width:99% !important;
}
.nl2-rightblock {
	float:right;
	width:190px !important;
	border:0px;
	border-left: 1px solid #c8d7e3;
	padding-left:5px;
}

.nl2-center .contentContainer
{
	margin-top:6px;
	margin-left:6px;
	margin-right:6px;
}

.nl2-center #contentContainer .content #cHeader  {
	background-color: #E4ECF1;
	border-top: 1px solid #D9DFF0;
	border-bottom: 1px solid #D9DFF0;
	padding: 4px;
	color: #666666;
	text-align: left;
}

.nl2-center #contentContainer .content #cHeader a,
	.nl2-center #contentContainer .content #cHeader a:active,
	.nl2-center #contentContainer .content #cHeader a:link,
	.nl2-center #contentContainer .content #cHeader a:visited
{
	text-decoration:none;
	color: #3e5d8e;
	font-weight:bold;
}
.nl2-center #contentContainer .content #cHeader a:hover
{
	text-decoration:underline;
	color: #2d4f84;
}
.nl2-center #contentContainer .content #cContent {
	padding:4px;
	color:#666666;
}
.nl2-center #contentContainer .contentSep {
	height:10px;
}

.nl2-footer {
	width:100%;
	background:#c5c5c5;
	height:30px;
	display:none;
}

.nl2-footer-fb {
	float:left;
	width:250px;
	font-size:10px !important;
	color:#FFFFFF;
	line-height:28px;
}

.nl2-footer-srv {
	float:right;
	width:100px;
	font-size:10px !important;
	color:#FFFFFF;
	line-height:28px;
}

/*-----------*/
.nl2-header-cont {
	margin:0 auto;
	width:100%;
	height:74px;
}
.nl2-header-cont img {
	margin-left:10px;
}
.nl2-hmenu-cont {
	margin:0 auto;
	width:100%;
	height:27px;
}
.nl2-header-menuitems {
	width:100%;
	float:right;
	height:27px;
}
.nl2-header-splash {
	float:left;
	width:100%;
}
.nl2-main {
	background:#FFFFFF;
	margin:0 auto;
	width:98% !important;
	min-height:400px;
	margin-bottom:30px;
	border:0px;
}
.nl2-right-partial {
	width:100% !important;
}
.nl2-center-normal {
	width:100% !important;
}
.nl2-center-rightfull {
	width:100% !important;
}
.nl2-footer-content {
	width:100%;
	margin:0 auto;
}


